body {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
    font-size: 1.7em;
}

#top-nav {
    position: relative;
    left: 250px;
    font-size: 1.3em;
}

#top-nav li {
        border: 1px solid rgba(218, 218, 218, 0.5);
}

#top-nav li:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
}

#top-nav li:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
}

.landing-pic {
    background-image: url(../images/dreamstime_m_16488481.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-size: cover;
}

#opening-line, #headline, #headline-add {
    position: relative;
    top: 45px;
    right: 90px;
    line-height: 1.2em;
}

#opening-line {
    font-size: 1.9em;
    font-family: 'Pacifico', cursive;
    color: #F64C63;
}

#headline {
    font-size: 3.7em;
    font-family: 'Bangers', cursive;
    display: inline;
    color: #F80202;
}

#headline-add {
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    display: inline;
    color: #F64C63;
}

#ahooogah-image {
    position: relative;
    bottom: 57px;
    right: 15px;
}

#main-text-div {
    font-size: 1.4em;
    font-weight: 700;
    position: relative;
    line-height: 27px;
    border-radius: 40px;
    border: 1px solid #DADADA;
    top: 225px;
    padding-top: 20px;
    padding-left: 30px;
    background-color: rgba(88, 220, 252, 0.9);
    height: 160px;
    width: 350px;
}


#booking-button {
    position: relative;
    bottom: 7px;
    font-size: 1.0em;
}

.blue {
    background-color: rgb(88, 236, 252);
    position: relative;
    bottom: 57px;
}



