body {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
    font-size: 1.7em;
}

#top-nav {
    position: relative;
    left: 250px;
    font-size: 1.3em;
}

#top-nav li {
    border: 1px solid rgba(218, 218, 218, 0.5);
}

#top-nav li:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#top-nav li:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.landing-pic {
    background-image: url(../images/dreamstime_m_16488481.jpg);
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
}

#opening-line, #headline, #headline-add {
    position: relative;
    top: 45px;
    right: 90px;
    line-height: 1.2em;
}

#opening-line {
    font-size: 1.9em;
    font-family: 'Pacifico', cursive;
    color: #F64C63;
}

#headline {
    font-size: 3.7em;
    font-family: 'Bangers', cursive;
    display: inline;
    color: #F80202;
}

#headline-add {
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    display: inline;
    color: #F64C63;
}

#ahooogah-image {
    position: relative;
    bottom: 57px;
    right: 15px;
    width: 100%;
}

#main-text-div {
    font-size: 1.4em;
    font-weight: 700;
    text-align: center;
    position: relative;
    line-height: 27px;
    border-radius: 10px;
    border: 1px solid #DADADA;
    top: 225px;
    padding-top: 20px;
    padding-left: 30px;
    background-color: rgba(88, 220, 252, 0.9);
    height: 160px;
    width: 370px;
    display: inline-block;
}


#booking-button {
    position: relative;
    bottom: 7px;
    font-size: 1.0em;
    font-weight: 700;
    border: 1px solid #4C4C4C;
    -moz-box-shadow: -3px 5px 3px #1A1A1A;
    -webkit-box-shadow: -3px 5px 3px #1A1A1A;
    box-shadow: -3px 5px 3px #1A1A1A;
}

#info-row {
    font-size: 1.3em;
    background-color: rgba(246, 31, 0, 0.3);
    position: relative;
    top: -57px;
}

#info-row p {
    padding: 25px 0 25px 0;
}


.footer {
    background-color: #EDB72f;
    height: 60px;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: relative;
    top: -57px;
    right: 15px;
}

.footer p {
    padding-top: 20px;
}

.clear {
    clear: both;
}



@media (max-width: 768px) {
    #ahooogah-image {
        position: relative;
        width: 60%;
        display: block;
        margin-left: 0;
        margin-top: 100px;
        margin-bottom: -57px;
    }

    #main-text-div {
        position: static;
        margin: 0 auto;
        width: 100vw;
        border: none;
        border-radius: 0;
    }

    #main-text-div p {
        width: 400px;
        position: relative;
        right: 15px;
    }

    #booking-button {
        position: relative;
        bottom: 0px;
        font-size: 1.0em;
    }

    #top-nav {
        position: static;
    }

    #top-nav li {
        border: none;
        text-align: center;
    }

    #top-nav li:hover {
        text-decoration: underline;
        font-size: 105%;
    }

    #top-nav li:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    #top-nav li:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #info-row {
        position: relative;
        top: 0px;
    }

    #info-row p {
        padding: 25px 0 25px; 0;
        border-bottom: 1 px solid #4c4c4c;
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }

    .footer {
    top: 0px;
    }
}

@media (max-width: 540px) {

    body {
        overflow-x: hidden;
    }

    #opening-line, #headline, #headline-add {
        position: relative;
        top: 45px;
        right: 20px;
        line-height: 1.2em;
    }

    #main-text-div p {
        width: 100%;
    }
}




